/* tbcity - Editor style */

html .mceContentBody {
	font-family: monospace;
	font-size: 15px;
}
a img {
	border: none;
}
a {
	text-decoration: none;
	color: #21759b;
}
a:hover {
	color: #464646;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: .5em 0;
}
p {
	line-height: 1.3em;
	margin: 0 0 1em 0;
}
ul {
	list-style: none outside none;
	margin-left: 15px;
}
ol {
	list-style: decimal inside none;
}
ol ul, ol ol, ul ul, ul ol {
	margin: 0 0 0 15px;
}
ul li {
	list-style: disc outside url('../images/litem.png');
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 0 .5em 40px;
}
fieldset {
	border: 1px solid #ddd;
	padding: 8px;
}
legend {
	color: #999;
}
blockquote {
	border-left: 5px solid #ddd;
	margin-left: 15px;
	padding-left: 15px;
	font-style: italic;
}
pre,
code,
tt,
kbd {
	font: 1.1em "Courier New", monospace;
	letter-spacing: 1px;
	padding: 0 8px;
	background-color: #eee;
}
pre {
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	overflow: auto;
	white-space: pre;
	max-width: 100%;
	margin: 5px auto;
	padding: 5px;
}
table {
	border-collapse: collapse;
	text-align: left;
	max-width: 100%;
	border: 1px solid #ddd;
}
td {
	padding: 3px;
}
th {
	border-bottom: 4px solid #ddd;
	padding: 3px;
}
input {
	font-size: 1.1em;
}
select {
	max-width: 100%;
	background-color: #fff;
	border: 1px solid #ddd;
}
object,
embed {
	max-width: 100%;
}
textarea,
input[type=text],
input[type=password] {
	border: 1px solid #464646;
}
input[type=password] {
	background: #fff url('images/lock.png') right center no-repeat;
	min-height: 20px;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
textarea:hover,
input[type=text]:hover,
input[type=password]:hover,
textarea:focus,
input[type=text]:focus,
input[type=password]:focus {
	border: 1px solid #21759b;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
	cursor: pointer;
}

/* Captions & aligment
----------------------------------------------------------*/
.aligncenter,
div.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}
img.alignright,
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
max-width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	margin: 0;
}
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #404040;
    border: 1px solid #ddd;
    border-radius: 2px 2px 2px 2px;
    color: #eee;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 11px 6px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
}
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    background-color: #F5F5F5;
    color: #666;
}
.fixfloat {
	clear: both;
}
.wp-caption {
	border: 1px solid #ddd;
	padding: 5px;
	text-align: center;
	margin: 10px;
	max-width: 94%;
    background: #fff;
	border-radius: 0;
}
.wp-caption img {
	border: 0 none;
	margin: 0;
	padding: 0;
}
.wp-caption .wp-caption-inside {
	position: relative;
}
.wp-caption .wp-caption-text {
	font-size: 11px;
	line-height: 17px;
	margin: 0;
	width: 100%;
	padding: 0 0 5px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
}
.wp-caption:hover .wp-caption-text {
	display: none;
}
