/**
 * editor style specific CSS
 *
 * @package The Black City
 * @since 2.00
 */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

html .mceContentBody {
	background: #444444; /* Old browsers */
	background: -moz-linear-gradient(left,  #444444 0%, #666666 50%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#444444), color-stop(50%,#666666)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #444444 0%,#666666 50%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #444444 0%,#666666 50%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #444444 0%,#666666 50%); /* IE10+ */
	background: linear-gradient(to right,  #444444 0%,#666666 50%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#666666',GradientType=1 ); /* IE6-9 */
	font-size: 14px;
	font-family: Verdana, Geneva, sans-serif;
	color: #ddd;
	padding: 15px;
}

p {
	margin: 10px 0;
}

h1,h2,h3,h4,h5,h6 {
	letter-spacing:-.1px;
	margin:5px 0;
	font-weight: bold;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

ul {
	list-style: square outside none;
	margin-left: 15px;
}

ol {
	list-style: decimal inside none;
}

ol ul, ol ol, ul ul, ul ol {
	margin: 0 0 0 15px;
}

input {
	font-size:1em;
}

acronym, abbr, span.caps {
	cursor: help;
}

acronym, abbr {
	border-bottom: 1px dashed #888;
}

blockquote {
	background:transparent url(images/quotes.png) no-repeat scroll left top;
	font-style:italic;
	margin:10px 0 10px 10px;
	padding:5px 0 0 30px;
	clear:both;
	min-height:30px;
}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	font-style: oblique;
}

pre {
	border: 1px solid #888888;
	box-shadow: 0 0 10px #333333 inset;
	font-family: verdana;
	margin: 10px auto;
	overflow: auto;
	padding: 5px;
}

fieldset {
	border: 2px groove #888;
	padding: 5px;
}

.fixfloat {
	clear: both;
}

br.fixfloat {
	line-height: 1px;
}

object,
embed,
iframe {
	max-width: 100%;
}

.screen-reader-text {
	display: none;
}

input[type=button],
input[type=submit],
input[type=reset],
button {
	background: #0870b2;
	border: 2px groove #888;
	color: #fff;
	padding: 8px 10px;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:focus,
input[type=submit]:focus,
input[type=reset]:focus,
button:hover,
button:focus {
	background: #87CEFB;
	color: #fff;
}

.details {
	color: #aaa;
}

.aligncenter,
div.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img.alignleft,
.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}

img.alignright,
.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}

a {
	color: #87CEFB;
	text-decoration:none;
}
a:hover {
	color: #fff;
}
