/* tbcity - stylesheet for print preview */

body {
	background-color: #eee;
}
#main {
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	background: none repeat scroll 0 0 #fff;
	width: 702px;
	min-height: 1000px;
	margin: 30px auto 0;
	padding: 49px;
}
div#print-links {
	background: none repeat scroll 0 0 #fff;
	border-bottom: 1px solid #777;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 0 3px #444;
	padding: 10px 0;
	text-align: center;
	display: block;
}
#print-links a {
	color: #21759b;
	font-weight: bold;
}
.js .hide-if-js,
.no-js .hide-if-no-js {
	display:none;
}
