/**
 * Widgets page specific CSS
 *
 * @package The Black City
 * @since 2.00
 */

div[id*=_tb-] .widget-title {
	background: url("../images/widgets/tb_micrologo.png") no-repeat 2px center transparent;
	padding-left: 24px;
}
.widget .widget-inside p.invalid {
	border: 1px solid red;
	margin-right: -5px;
	margin-left: -5px;
	padding: 4px;
}