#deflash, #header object, #btitle h2, #imhere, .sidebar, #DropDown, #rss-big, #menu, #header,
.editthis, .jumper, #footer, .avatar, #respond, .reply, .commentslink, #nav-global, .ping_ad {
	display: none;
}

a {
	color: #333333;
	text-decoration: none;
}

.entrytitle h1 {
	margin: 0;
}

.entrymeta, .entrydate, .comment-author, .comment-meta {
	font-size: .8em;
}

.entry {
	border-top: 1px solid #555555;
	margin: 10px 0;
	clear: both;
	padding-top: 10px;
}

#portrait-img {
	text-align: right;
}

#logo {
	height: 3em;
	vertical-align: bottom;
}

#hidden_title {
font-size: 2em;
font-weight: bold;
}
